@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-beranda {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
    .nav-link {
        color: white !important;
    }

    .nav-link:hover {
        color: orange !important;
    }

    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .masuk-daftar {
        font-weight: 600;
        justify-content: center;

        .button-daftar {
            text-align: center;
            background-color: #FF7315;
            border-radius: 20px;
            margin-left: 10px;
            width: 100px;
        }
    }

}

.header {
    background: url("../assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 550px;
    padding-top: 50px;
    margin-left: 0;
    margin-right: 0;

    .title-header {
        font-family: 'Raleway', sans-serif;
        font-size: 54px;
        font-weight: 800;
        color: white;
        text-align: center;
    }

    .subtitle-header {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #FF7315;
        text-align: center;
        margin-top: 20px;
    }

    .button-container {
        justify-content: center;
        margin-top: 30px;

        .button {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: white;
            text-align: center;
            background-color: #FF7315;
            border-radius: 20px;
            width: 220px;
        }

        .button:hover {
            background-color: #db6312;
        }
        
    }

    .countdown-container {
        text-align: center;

        .countdown-info {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: white;
            margin-top: 28px;
        }

        .countdown-header {
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: white;
        }
        
    }


}