@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// ----------------------------
// Komponen Box - DAFTAR
// ----------------------------

$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

.page {
    margin-right: 0px;
}

.card {
    margin-top: 20px;
    background-color: #242424;

    .col-kiri {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;

        .title-form {
            font-family: $raleway;
            font-size: 32px;
            font-weight: 700;
            color: white;
            text-align: center;
        }

        .subtitle-form {
            font-family: $open-sans;
            font-size: 18px;
            font-weight: 400;
            color: white;
            text-align: center;
            margin-bottom: 50px;
        }

        .desc-form {
            font-family: $open-sans;
            font-size: 14px;
            font-weight: 300;
            color: white;
            text-align: center;
            margin-top: 80px;
            margin-bottom: 25px;
        }

        .img {
            width: 70%;
            margin-left: 15%;
        }

        .button-modal {
            margin-top: 10px;
        }
    }

    .col-kanan {

        .fail-alert {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .button-submit {
            color: #fff;
            font-size: 15px; 
            font-family: $open-sans;
            font-weight: 500;
            margin-top: 20px; 
            margin-bottom: 20px;
            height: 40px;
        }

        .error-message {
            font-family: $open-sans;
            font-size: 12px;
            font-weight: 400;
        }

        .pertanyaan-ngoding {
            font-family: $open-sans;
            font-size: 14px;
            font-weight: 500;
            margin-top: 20px;

            .desc {
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}

// ----------------------------
// Komponen Box - MODAL
// ----------------------------
