@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// ----------------------------
// Komponen Box - DIVISI
// ----------------------------

$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

.card-divisi {
    justify-content: center;
    padding: 20px;

    .title-divisi {
        font-family: $raleway;
        font-size: 28px;
        font-weight: 800;
        color: white;
        text-align: center;
    }

    .subtitle-divisi {
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .detail-divisi {
        font-family: $open-sans;
        font-size: 15px;
    }

    .info-divisi {
        font-family: $open-sans;
        font-size: 14px;
    }
}